[submodule "support/async.js"]
	path = support/async.js
	url = https://github.com/fjakobs/async.js.git
[submodule "support/formidable"]
	path = support/formidable
	url = https://github.com/felixge/node-formidable.git
[submodule "support/node-sftp"]
	path = support/node-sftp
	url = https://github.com/ajaxorg/node-sftp.git
[submodule "support/jsftp"]
	path = support/jsftp
	url = https://github.com/ajaxorg/jsftp.git
